@import"colors";
@import "navbar";
@import "home";
@import "about";
@import "projects";
@import "contacts";
@import "footer";

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper{
    height: 100%;
    width: 100%;
}